@import url('https://fonts.googleapis.com/css?family=Merriweather');

@import url('https://fonts.googleapis.com/css?family=Aclonica');

@import url('https://fonts.googleapis.com/css2?family=Anton');

.jumbotron{
	background-image: url("bdedf69f52a983da911a65ff22bf5b32.jpg");
	font-family: Anton;
	text-align: center;
	font-size: 100px

}

.pra1{
	font-family: Aclonica;
	background-color: white;
	border: 50px solid green;
	padding: 10px;
	margin: 10px;
}

#col1{
	font-family: Merriweather;
	background-color: pink;
	border: 5px solid #e4f2e4;
	


}

#col2{
	font-family: Merriweather;
	background-color: yellow;
	border: 5px solid #e4f2e4;
	
}

#col3{
	font-family: Merriweather;
	background-color: #40e7ed;
	border: 5px solid #e4f2e4;

}



.fot1{
	text-align: center;

	background-color: yellow;
	width: 1166px;
	margin-top: -23px;
	margin-left: -13px;
	height: 75px;
}

#but1{
	
    margin-right: 100px;
	font-size: 50px;
}

#but2{
	margin-right: 100px;
	font-size: 50px;
}

.fa:hover {
  color: red;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 100px;
  text-align: center;
  text-decoration: none;
}




